
<div class="user-info">
  <h2>User info</h2>


<div class="book_index">
  <table class="indes-table">
  <thead>
    <th>title</th>
    <th>body</th>
    <th></th>
  </thead>
  <% @books.each do |book| %>
  <tbody>
    <td><%= link_to "/books/#{book.id}" do%><%= book.title %><% end %></td>
    <td><%= book.body %></td>
  </tbody>
  <% end %>
</table>
</div>

<div class="new-book">
  <%= form_with model: @book, local:true do |f| %>
      <% @book.errors.full_messages.each do |message| %>
        <li>error  <%= message %></li>
      <% end %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Body</p>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>
</div>